name: build
run-name: ${{ github.actor }} is running the CI build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
          cache: 'npm'
      - run: node -v
      - run: npm ci
      - name: run tests
        run: npm run test