name: build
run-name: ${{ github.actor }} is running the CI build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install node
        uses: actions/setup-node@v3
        with:
          node-version: '14'
          cache: 'npm'
        run: node -v
      - name: install dependencies
        run: npm ci